/*Fuentes*/

/*Estilos generales*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("../img/paven.png");
    min-width: 1600px;
}

/*Paleta de colores*/
:root{
    --azul: #408cf0e8;
    --oscuro: #333333;
    --grisclaro:#cccccccc;
}

/*Cabecera*/
#header{
    width: 100%;
    height: 250px;
    margin: 0px auto;
}

#header .logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    padding-top: 10px;
    width: 140px;
}

#header h1{
    text-align: center;
    font-size: 40px;
    color: var(--azul);
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 10px;
    text-shadow: 0px 2px 1px var(--oscuro);
    transition: all 300ms;
}

#header h1:hover{
    text-shadow: 0px 2px 1px var(--oscuro), 0px 0px 4px var(--azul);
}

#header a{
    text-decoration: none;
    color: var(--azul);
}

/*Barra de navegación*/
#nav{
    width: 100%;
    height: 40px;
    background-color: var(--oscuro);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
    
}

#nav ul{
    list-style: none;
    margin: 0px auto;
    width: 620px;
}

#nav li{
    line-height: 40px;
    float: left;
    border-right:  1px solid gray; 
    transition: all 300ms;
}

#nav a{
    display: block;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    text-decoration: none;
}

#nav a:first-child{
    border-left: 1px solid gray;
}

#nav li:hover {
    background-color: var(--azul);
    box-shadow: 0px 0px 4px blue;
}

/*Secciones*/

/*Cursos*/
#sections{
    text-align: center;
}

#sections .titulo{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(131, 131, 131);
}

.section{
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background-color: white;
    padding: 30px 70px;
    margin: 20px;
    border: 1px solid var(--grisclaro);
    text-align: left;

}
.section hr{
    margin-top: 10px;
    margin-bottom: 15px;
}

.section .img{
    float: left;
    height: 200px;
    width: 230px;
    margin-top: 17px;
    margin-right: 50px;
    border-radius: 50%;
}

.section .titulo{
    font-size: 17px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    color: rgba(57, 128, 124, 0.87) !important;
}

.contenido .btn{
    color: white;
    margin: 20px;
    padding: 20px;
}
.contenido .btn a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to bottom , var(--azul), rgba(33, 146, 211, 0.651));
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}

.contenido .btn a:hover{
    opacity: 0.7;
    color: var(--oscuro);
}

.section .stickerOne,
.section .stickerTwo{
    position: absolute;
    margin-top: -48px;
    z-index: 0;
}

.section .stickerTwo{
    margin-left: 750px;
}

/*Formulario*/
.contenidoform{
    width: 70%;
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}
.textoform{
    width: 500px;
    height: 200px;
    background-color: white;
    border: 2px solid var(--grisclaro);
    background-image: linear-gradient(to bottom , rgba(140, 140, 163, 0.384), rgba(89, 153, 190, 0.411));
    text-align: center;
    padding: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.textoform h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color:rgb(72, 95, 109);
}
form{
    background-color: white;
    border: 2px solid var(--grisclaro);
    width: 500px;
    text-align: start;
    margin-left: 40px;

}
legend{
    font-size: 20px;
    text-align: center;
    color: rgba(5, 15, 41, 0.705)!important;
    font-weight: bold;
}
label{
    font-weight: 600;
    text-transform: uppercase;
    display: block;  
    padding: 10px 0px;
}
.contenido{
    margin: 40px;
}
hr{
    margin-top: 20px;
}

input:not([type="submit"], [type="checkbox"], [type="radio"]),select{
    padding: 10px;
    margin: auto;
    display: block;
    justify-content: center;
    width: 95%;
    background-color: #bdb9b994;
    border: none;
    border-radius: 1rem;
}

input[type="radio"],[type="checkbox"]{
    width: auto;
}
.formato{
    padding: 5px 0px;
    width: 93%;
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
}

form .btn{
    width: 100px;
    height: 40px;
    margin-left: 40% ;
    margin-right: auto;
    margin-bottom: 30px;
    color: white;
    background-image: linear-gradient(to bottom , rgba(87, 87, 121, 0.938), rgba(42, 124, 172, 0.651));
    border-radius: 10px;
    font-weight: bold;
}



/*Pie de página*/
#footer{
    width: 100%;
    margin:  0px auto;
    text-align: center;
    margin-top: 30px;
    background-color: var(--oscuro);
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 2px gray;
}
